!!! 5
html
  head
    title= title
    script(type="text/javascript", src="/js/jquery-1.6.2.min.js")
    script(type="text/javascript", src="/js/ICanHaz.min.js")
    script(type="text/javascript", src="/js/gusher.js")
    script(type="text/javascript", src="/js/feeds.js")
    script(type="text/javascript", src="/js/site.js")
    link(rel='stylesheet', href='/styles/site.css')
    link(rel='stylesheet', href='/styles/standard.css')
  body
    #container!= body