body
  font-family: sans-serif
  background-color: #F0F2E9
  color: #363333
  margin: 0;
  padding: 0;
a
  color: #FF9900

h1
  font-family: 'EngraversLTStdBoldFace'
  font-size: 3em
  margin: 0
  a
    color: #363333
    text-decoration: none
  a:hover
    text-decoration: underline

#home
  position: absolute
  left: 0
  top: 16px
  background-color: #363333
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.25)
  a
    display: inline-block
    padding: 10px 12px 10px 16px
    line-height: 0;
    opacity: .8;
  a:hover
    opacity: 1;

#container
  position: relative
  padding: 100px

#sidebar
  position: absolute
  left: 700px
  background-color: #363333
  color: white
  border-radius: 8px
  padding: 20px

#services
  margin: 1em 0;

#content
  width: 580px

.annotation
  color: grey
  font-size: .8em
  font-style: italic

.action
  display: inline-block;
  background-color: #FF9900
  padding: 12px 16px
  color: white
  text-decoration: none
  border-radius: 8px
.action:hover
  background-color: #363333

@font-face
  font-family: 'EngraversLTStdBoldFace'
  src: url('/fonts/engravers.eot')
  src: url('/fonts/engravers.eot?#iefix') format('embedded-opentype'), url('/fonts/engravers.woff') format('woff'), url('/fonts/engravers.ttf') format('truetype'), url('/fonts/engravers.svg#EngraversLTStdBoldFace') format('svg')
  font-weight: normal
  font-style: normal
